.Banner {
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 60rem;
}

.Banner-heading {
  align-items: center;
  display: flex;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.25;
  margin: auto;
  max-width: 13.337em;
  padding-bottom: 6.75rem;
  text-align: center;
  width: 100%;
}
