.Carousels {
  position: relative;
  height: 500px;
  width: 100%;
}

.Carousel {
  position: absolute;
  width: 100%;
  display: flex;
  opacity: 0;
  justify-content: space-between;
  will-change: opacity;
}
.Carousel.is-active {
  opacity: 1;
}

.Carousel-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  max-width: 550px;
  padding-bottom: 40%;
  width: 55%;
  opacity: 0;

  transform: translate(20px, 0);
  transition: transform 0.25s cubic-bezier(0,1,1,1.1), opacity 0.25s;
  will-change: transform, opacity;
}

.Carousel.is-active .Carousel-image {
  transform: translateX(0);
  opacity: 1;
}

.Carousel-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  width: 45%;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.35s;
}

.Carousel.is-active .Carousel-body {
  opacity: 1;
}

.Carousel-title {
  color: #000;
  font-size: 2.5rem;
  font-weight: 200;
  padding-bottom: 1em;
}

.Carousel-copy {
  font-size: 1.375rem;
  font-weight: 200;
}

.Carousel-indicators {
  position: absolute;
  bottom: -1rem;
  display: flex;
  justify-content: space-around;
}

.Carousel-indicator {
  background: #e6e6e6;
  border-radius: 50%;
  height: 1rem;
  transition: background 0.2s ease-out;
  width: 1rem;
}

.Carousel-indicator.is-active {
  background: #e8008a;
}
