.Carousel {
  min-height: 500px;
  position: relative;
  width: 100%;
}

.Carousel-item {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  width: 100%;
  will-change: opacity;
  z-index: 1;
}
.Carousel-item.is-active {
  opacity: 1;
  z-index: 2;
}

.Carousel-itemImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  margin-right: 3.125rem;
  max-width: 550px;
  opacity: 0;
  padding-bottom: 40%;
  transform: translate(-20px, 0);
  transition: transform 0.25s cubic-bezier(0, 1, 1, 1.1), opacity 0.25s;
  width: 55%;
  will-change: transform, opacity;
}

.Carousel-item.is-active .Carousel-itemImage {
  transform: translateX(0);
  opacity: 1;
}

.Carousel-itemBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  opacity: 0;
  transition: opacity 0.35s;
  width: 45%;
  will-change: opacity;
}

.Carousel-item.is-active .Carousel-itemBody {
  opacity: 1;
}

.Carousel-itemTitle {
  color: #000;
  font-size: 2.5rem;
  font-weight: 200;
  padding-bottom: 1em;
}

.Carousel-itemCopy {
  font-size: 1.375rem;
  font-weight: 200;
}

.Carousel-indicator {
  bottom: -1rem;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  z-index: 3;
}

.Carousel-indicatorDot {
  background: #e6e6e6;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  transition: background 0.2s ease-out;
  width: 1rem;
}

.Carousel-indicatorDot.is-active {
  background: #e8008a;
}
