html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.Tux-get-started {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 25rem;
}

p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  text-align: center;
}
