.Section {
  display: flex;
}

.Section--half {
  flex: 0 1 50%;
  max-width: 50%;
}

.Section-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
