/*:root {
  --main-color: #473bb1;
  --text-color #232323;
  --accent-color: #e8008a;
  --font-family: 'Source Sans Pro';
}*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 1655px;
}

// Todo: Serve more than ttf.
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  src: url('./fonts/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  src: url('./fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 500;
  src: url('./fonts/SourceSansPro-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: url('./fonts/SourceSansPro-Bold.ttf') format('truetype');
}
