.Newsletter {
  margin: auto;
  text-align: center;
  width: 80%;
}

.Newsletter-register {
  display: flex;
  margin: auto;
  margin-bottom: 4.35rem;
  width: 90%;
}
.Newsletter-registerInput {
  border-radius: 5px 0 0 5px;
  border-right: 0;
  border: 1px solid #dddfe2;
  padding: 0.85rem;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
}
.Newsletter-registerButton {
  background: #e8008a;
  border-radius: 0 5px 5px 0;
  border: 0;
  color: #FFF;
  font-size: 1rem;
  padding: 1rem;
  width: 10rem;
}

.Newsletter-disclaimer {
  margin-bottom: 2.175rem;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #666;
  opacity: 0.5;
  font-weight: 300;
}

.Newsletter-social {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
}

.Newsletter-socialIcon {
  cursor: pointer;
  margin: 0 0.5rem;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.Newsletter-socialIcon:hover {
  color: #e8008a;
  opacity: 1;
}
