/*:root {
  --main-color: #473bb1;
  --text-color #232323;
  --accent-color: #e8008a;
  --font-family: 'Source Sans Pro';
}*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: calc(15.29577px + 0.18779vw);
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  max-width: 1655px;
}

.u-noScroll {
  overflow: hidden;
}
