.FeaturedIn {
  align-items: center;
  background: #fff;
  display: flex;
  min-height: 100px;
  justify-content: space-between;
}

.FeaturedIn-logo a {
  display: block;
}

.FeaturedIn-logo img {
  height: 100%;
  opacity: 0.2;
  transition: opacity 0.15s ease-out;
  width: 6rem;
}

.FeaturedIn-logo img:hover {
  opacity: 1;
}
