.Testimonial {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Testimonial-quote {
  color: #010101;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.4;
  max-width: 30rem;
  padding-right: 5rem;
  padding-top: 2rem;
  position: relative;
  width: 50%;
}

.Testimonial-quote::before {
  color: #555;
  content: '“';
  font-family: 'serif';
  font-size: 10rem;
  font-weight: 300;
  height: 1em;
  line-height: 0;
  position: absolute;
  top: 0;
  width: 1em;
}


.Testimonial-quoteAuthor {
  border-top: 1px solid currentColor;
  color: #c2c2c2;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1.5em;
  padding-top: 1.5em;
}

.Testimonial-image {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 65%;
  width: 50%;
}
